* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #000;
  font: 32pt Open Sans, Helvetica, Arial, sans-serif;
  color: darkgray;
  padding: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

p {
  margin: 1em auto;
}

p:first-child {
  margin-top: 0;
}

#name {
  color: #f88170;
}

#name:hover {
  text-shadow: 0 0 0.5em #f88170;
}

#github {
  color: #fff;
}

#github:hover {
  text-shadow: 0 0 0.5em #fff;
}

#twitter {
  color: #8ec1da;
}

#twitter:hover {
  text-shadow: 0 0 0.5em #8ec1da;
}
