<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Reading List</title>

        <%= stylesheet_link_tag "normalize", "all", "books" %>
    </head>

    <body id="content" class="books <%= page_classes %>">
        <%= yield %>
    </body>
</html>

