---
title: The P-Team
---

<div class="session">
    <h2>Parallel Interlude: Mystery Dinner</h2>

    <p>
    In a parallel version of Delway, Parallel-Dr. Phil (Wood-elf
    warlock, with a weakness for noble men with curly hair), Lord Faro
    Blimby Nar-nar De'Radwo Slyn VII Esq. (Gnome sorcerer and managing
    directory of the Gnome Underdark Mining Corporation), and Garth
    (Half-orc rogue plagued by his traumatic upbringing in a cult),
    find themselves the guest of Count Vorloft van Wroth, having
    recently won acclaim ridding the region of bandits.
    </p>

    <p>
    After the celebratory feast, our adventurers awoke to a panicked
    guard corps. The Count's daughter, Amelia, had been kidnapped
    during the night. Thankfully, the party had slept in the guard
    barracks and so had an alibi above reproach. Knowing the party's
    reputation, the captain of the guard, Oscar, requests their
    assistance in the matter.
    </p>

    <p>
    After a brief investigation of the scene of the crime, strange
    scratch marks and a letter intimating that Amelia had been having
    a dalliance with a gentleman not of the court, the team decided
    first to interview the suspects, who were guests at the dinner the
    night before.
    </p>

    <p>
    After clever word play and magically enhanced persuasion, the crew
    was able to discover:

    <ol>
        <li>
            A commoner who'd killed a nobleman and was attempting to
            impersonate him in order to marry Amelia (subsequently
            arrested and sentenced to hard labour in the Gnome
            Underdark Mining Corporation's mines)
        </li>

        <li>
            A spy sent to out the commoner and bring him to justice.
        </li>

        <li>
            A secret wererat lover of Amelia, who had kidnapped her
            for a ritual to turn her into a wererat so that she would
            be able to be with him forever
            (<em>gaaaaaassssssspppp</em>)
        </li>
    </ol>
    </p>

    <p>
    After learning of what happened to Amelia, the team heading to the
    sewers to find and rescue her. After a well-timed Fireball, and a
    hasty retreat, they were able to exit the sewers and return to the
    keep with Amelia alive (barely), and their reputations intact.
    </p>
</div>
