<h1>Warhammer 40,000 Kill Team: Mandrakes</h1>
<div id="killteam-mandrakes" data-nanogallery2="{
    'thumbnailDisplayTransition': 'scaleDown',
    'thumbnailBorderHorizontalv1': 0,
    'thumbnailBorderVerticalv1': 0,
    'viewerToolbar': { 'display': true },
    'thumbnailHoverEffect2': 'scale120'
}">

<% Dir.glob('source/images/minis/killteam-mandrakes/*.jpg') do |img| %>
  <a href="/images/minis/killteam-mandrakes/<%= File.basename(img) %>" data-ngthumb="/images/minis/killteam-mandrakes/<%= File.basename(img, ".jpg") %>.png">
    <%= File.basename(img, ".jpg") %>
  </a>
<% end %>

</div>
