---
title: Sam Gibson
---

<div>
    <h1>Sam Gibson</h1>

    <p class="quote">
        <i class="fa fa-quote-left"></i>
        The best men are those who remain boys in some heart-deep place, and keep
        some genuine naïveté as a kind of talisman against too much reality.
        <i class="fa fa-quote-right"></i>
    </p>

    <p class="attributed-to"> - Greg Bear, Slant </p>

    <ul class="links">
        <li>
            <a href="https://github.com/samfoo">
                <i class="fa fa-github"></i>
            github
            </a>
        </li>
        <li>
            <a href="https://au.linkedin.com/in/samfoo">
                <i class="fa fa-linkedin-square"></i>
            linkedin
            </a>
        </li>
        <li>
            <a href="resume.html"><i class="fa fa-file-text-o"></i>
            resume</a>
        </li>
    </u>
</div>

<div class="pages">
    <div class="section">
        <h2>Reading</h2>

        <ul>
            <li>
                <a href="books.html">Reading list</a>
            </li>

            <li>
                <a href="shittybookclub.html">Shitty Book Club</a>
            </li>

            <li>
                <a href="quotes.html">Quotes list</a>
            </li>
        </ul>
    </div>

    <div class="section">
        <h2>Dungeons and Dragons Campaigns</h2>

        <ul>
            <li>
                <a href="/dnd/pteam">D&amp;D Adventures of the P-Team</a>
            </li>

            <li>
                <a href="/dnd/cos">D&amp;D Curse of Strahd</a>
            </li>

            <li>
                <a href="/dnd/hfr">D&amp;D High Frequency Raiders</a>
            </li>

            <li>
                <a href="/spite-game">Spite Game</a>
            </li>
        </ul>
    </div>

    <div class="section">
        <h2>Misc</h2>
        <ul>
            <li>
                <a href="links.html">Bookmarks</a>
            </li>

            <li>
                <a href="/spite-game">Spite Game</a>
            </li>
        </ul>
    </div>
</div>
